sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
.stl_01 {
	top: 0pt;
	position: absolute;
	left: 0pt;
}
.stl_02 {
	top: 0pt;
	left: 90.02pt;
	position: absolute;
}
.stl_03 {
	color: #000000;
	display: inline-block;
	direction: ltr;
	font-size: 11pt;
	font-family: Ebrima;
}
.stl_04 {
	top: 22.5pt;
	left: 90.02pt;
	position: absolute;
}
.stl_05 {
	top: 45pt;
	left: 90.02pt;
	position: absolute;
}
